<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contador
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out" id="salir"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contador</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
    <h1 style="font-size: 4rem; margin-bottom: 2rem;" id="counter">{{ counter }}</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <ion-button expand="block" color="danger" (click)="modifyCounter(-10)">-10</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" color="warning" (click)="modifyCounter(-1)">-1</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" color="medium" (click)="resetCounter()">Reset</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" color="success" (click)="modifyCounter(1)">+1</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" color="primary" (click)="modifyCounter(10)">+10</ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="justify-content: center">
        <ion-col size="auto">
          <ion-item>
            <ion-label position="floating">Valor Personalizado</ion-label>
            <ion-input type="number" [(ngModel)]="customValue"></ion-input>
          </ion-item>
          <ion-button expand="block" color="medium" (click)="modifyCounter(customValue)" size="small">{{customValue}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>